{
  "presets": [
    "flow",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    [ "babel-plugin-transform-react-jsx", { "pragma": "jsxDom" } ]
  ]
}